services:
  mongo:
    build:
      context: ./mongodb_rs
      args:
        MONGO_VERSION: 7
    environment:
      MONGO_REPLICA_PORT: 27017
      MONGO_REPLICA_HOST: localhost
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "echo \"try { rs.status() } catch (e) { rs.initiate({_id:'rs0',members:[{_id:0,host:'localhost:27017'}]}) }\" | mongosh --quiet"]
      interval: 5s
      timeout: 30s
      retries: 30

volumes:
  mongo-data:
